.mediaViewInfo {
	--web-view-name: Admin;
	--web-view-id: Admin;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Admin;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Admin {
	position: absolute;
	width: 1366px;
	height: 768px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Admin;
	--web-view-id: Admin;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Group_33 {
	position: absolute;
	width: 177px;
	height: 51px;
	left: 45px;
	top: 51px;
	overflow: visible;
}
#MEDI_CARE {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 Blk BT;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(120,201,237,1);
}
#H_O_S_P_I_T_A_L_S {
	left: 28px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 LtEx BT;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(120,201,237,1);
}
#Group_22 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 1135px;
	top: 44px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Sign_in.html;
	cursor: pointer;
}
#Component_2__27 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Back {
	left: 63px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#ADMIN {
	left: 553px;
	top: 66px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 LtEx BT;
	font-style: normal;
	font-weight: lighter;
	font-size: 36px;
	color: rgba(0,76,255,1);
}
#Group_34 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 407px;
	top: 258px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Patient_List.html;
	cursor: pointer;
}
#Component_2__28 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_ {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_ {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Patient_list {
	left: 32px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 116px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_35 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 407px;
	top: 347px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: medicien.html;
	cursor: pointer;
}
#Component_2__29 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_ba {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_ba {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Medicien {
	left: 42px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_36 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 407px;
	top: 436px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Available_doctors.html;
	cursor: pointer;
}
#Component_2__30 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bb {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bb {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Available__doctors {
	left: 48px;
	top: 4px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(255,255,255,1);
}
#Group_37 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 652px;
	top: 347px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Pharmacies.html;
	cursor: pointer;
}
#Component_2__31 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bd {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bd {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Pharmacies {
	left: 29px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_38 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 652px;
	top: 436px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Test_report.html;
	cursor: pointer;
}
#Component_2__32 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bh {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bh {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Test_report {
	left: 32px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_39 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 407px;
	top: 525px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Doctor.html;
	cursor: pointer;
}
#Component_2__33 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bl {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bl {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Doctor {
	left: 55px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_40 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 652px;
	top: 258px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Patient.html;
	cursor: pointer;
}
#Component_2__34 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bp {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bp {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Patient {
	left: 51px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_41 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 652px;
	top: 525px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: register_for_hospital.html;
	cursor: pointer;
}
#Component_2__35 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_bt {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_bt {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Register_for__hospital {
	left: 28px;
	top: 2px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(255,255,255,1);
}