.mediaViewInfo {
	--web-view-name: medicien;
	--web-view-id: medicien;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: medicien;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#medicien {
	position: absolute;
	width: 1366px;
	height: 768px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: medicien;
	--web-view-id: medicien;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Group_30 {
	position: absolute;
	width: 177px;
	height: 51px;
	left: 39px;
	top: 53px;
	overflow: visible;
}
#MEDI_CARE {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 Blk BT;
	font-style: normal;
	font-weight: normal;
	font-size: 29px;
	color: rgba(120,201,237,1);
}
#H_O_S_P_I_T_A_L_S {
	left: 28px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 LtEx BT;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(120,201,237,1);
}
#Group_31 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 1123px;
	top: 75px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Doctor.html;
	cursor: pointer;
}
#Component_2__25 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Back {
	left: 63px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Rectangle_67 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_67 {
	width: 448px;
	height: 50px;
	position: absolute;
	overflow: visible;
	transform: matrix(1,0,0,1,465.5146,222.8774) rotate(0deg);
	transform-origin: center;
}
#Search_Medicine_here {
	transform: matrix(1,0,0,1,276.515,228.8775) rotate(0deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 165px;
	white-space: nowrap;
	text-align: right;
	font-family: Swis721 LtEx BT;
	font-style: normal;
	font-weight: lighter;
	font-size: 19px;
	color: rgba(120,201,237,1);
}
#Group_32 {
	position: absolute;
	width: 107px;
	height: 51px;
	left: 949px;
	top: 222px;
	overflow: visible;
}
#Component_2__26 {
	position: absolute;
	width: 107px;
	height: 51px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2_ {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2_ {
	position: absolute;
	overflow: visible;
	width: 107px;
	height: 51px;
	left: 0px;
	top: 0px;
}
#Search {
	left: 18px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Rectangle_68 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_68 {
	position: absolute;
	overflow: visible;
	width: 762px;
	height: 54px;
	left: 128px;
	top: 333px;
}
#Rectangle_69 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_69 {
	position: absolute;
	overflow: visible;
	width: 297px;
	height: 54px;
	left: 890px;
	top: 333px;
}
#Rectangle_70 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_70 {
	position: absolute;
	overflow: visible;
	width: 762px;
	height: 276px;
	left: 128px;
	top: 387px;
}
#Rectangle_71 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_71 {
	position: absolute;
	overflow: visible;
	width: 297px;
	height: 276px;
	left: 890px;
	top: 387px;
}
#Available_Medicien {
	transform: matrix(1,0,0,1,302.5151,348.8774) rotate(0deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: right;
	font-family: Swis721 LtEx BT;
	font-style: normal;
	font-weight: lighter;
	font-size: 19px;
	color: rgba(120,201,237,1);
}
#Quantity {
	transform: matrix(1,0,0,1,998.5151,348.8774) rotate(0deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 80px;
	white-space: nowrap;
	text-align: right;
	font-family: Swis721 LtEx BT;
	font-style: normal;
	font-weight: lighter;
	font-size: 19px;
	color: rgba(120,201,237,1);
}