.mediaViewInfo {
	--web-view-name: Patient List;
	--web-view-id: Patient_List;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Patient_List;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Patient_List {
	position: absolute;
	width: 1366px;
	height: 768px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Patient List;
	--web-view-id: Patient_List;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Patient_List_m {
	left: 538px;
	top: 78px;
	position: absolute;
	overflow: visible;
	width: 188px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(36,153,204,1);
}
#Group_7 {
	position: absolute;
	width: 165px;
	height: 45px;
	left: 41px;
	top: 33px;
	overflow: visible;
}
#MEDI_CARE {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 Blk BT;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	color: rgba(120,201,237,1);
}
#H_O_S_P_I_T_A_L_S {
	left: 21px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 122px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 LtEx BT;
	font-style: normal;
	font-weight: lighter;
	font-size: 14px;
	color: rgba(120,201,237,1);
}
#Group_8 {
	position: absolute;
	width: 1121px;
	height: 45px;
	left: 123px;
	top: 177px;
	overflow: visible;
}
#Rectangle_53 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53 {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Rectangle_54 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54 {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 254px;
	top: 0px;
}
#Rectangle_55 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55 {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 45px;
	left: 508px;
	top: 0px;
}
#Rectangle_56 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56 {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 45px;
	left: 866px;
	top: 0px;
}
#Rectangle_57 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_57 {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 123px;
	top: 222px;
}
#Rectangle_58 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_58 {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 377px;
	top: 222px;
}
#Rectangle_59 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_59 {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 45px;
	left: 631px;
	top: 222px;
}
#Rectangle_60 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_60 {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 45px;
	left: 989px;
	top: 222px;
}
#Group_9 {
	position: absolute;
	width: 1121px;
	height: 45px;
	left: 123px;
	top: 267px;
	overflow: visible;
}
#Rectangle_53_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53_ {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Rectangle_54_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54_ {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 254px;
	top: 0px;
}
#Rectangle_55_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55_ {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 45px;
	left: 508px;
	top: 0px;
}
#Rectangle_56_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56_ {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 45px;
	left: 866px;
	top: 0px;
}
#Group_10 {
	position: absolute;
	width: 1121px;
	height: 45px;
	left: 123px;
	top: 312px;
	overflow: visible;
}
#Rectangle_53_ba {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53_ba {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Rectangle_54_ba {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54_ba {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 254px;
	top: 0px;
}
#Rectangle_55_ba {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55_ba {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 45px;
	left: 508px;
	top: 0px;
}
#Rectangle_56_ba {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56_ba {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 45px;
	left: 866px;
	top: 0px;
}
#Group_11 {
	position: absolute;
	width: 1121px;
	height: 45px;
	left: 123px;
	top: 357px;
	overflow: visible;
}
#Rectangle_53_bb {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53_bb {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Rectangle_54_bb {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54_bb {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 254px;
	top: 0px;
}
#Rectangle_55_bc {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55_bc {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 45px;
	left: 508px;
	top: 0px;
}
#Rectangle_56_bd {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56_bd {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 45px;
	left: 866px;
	top: 0px;
}
#Group_12 {
	position: absolute;
	width: 1121px;
	height: 45px;
	left: 123px;
	top: 402px;
	overflow: visible;
}
#Rectangle_53_bf {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53_bf {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Rectangle_54_bg {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54_bg {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 254px;
	top: 0px;
}
#Rectangle_55_bh {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55_bh {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 45px;
	left: 508px;
	top: 0px;
}
#Rectangle_56_bi {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56_bi {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 45px;
	left: 866px;
	top: 0px;
}
#Group_13 {
	position: absolute;
	width: 1121px;
	height: 45px;
	left: 123px;
	top: 447px;
	overflow: visible;
}
#Rectangle_53_bk {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53_bk {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Rectangle_54_bl {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54_bl {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 254px;
	top: 0px;
}
#Rectangle_55_bm {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55_bm {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 45px;
	left: 508px;
	top: 0px;
}
#Rectangle_56_bn {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56_bn {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 45px;
	left: 866px;
	top: 0px;
}
#Group_14 {
	position: absolute;
	width: 1121px;
	height: 45px;
	left: 123px;
	top: 492px;
	overflow: visible;
}
#Rectangle_53_bp {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53_bp {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Rectangle_54_bq {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54_bq {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 254px;
	top: 0px;
}
#Rectangle_55_br {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55_br {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 45px;
	left: 508px;
	top: 0px;
}
#Rectangle_56_bs {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56_bs {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 45px;
	left: 866px;
	top: 0px;
}
#Group_15 {
	position: absolute;
	width: 1121px;
	height: 45px;
	left: 123px;
	top: 537px;
	overflow: visible;
}
#Rectangle_53_bu {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53_bu {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Rectangle_54_bv {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54_bv {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 254px;
	top: 0px;
}
#Rectangle_55_bw {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55_bw {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 45px;
	left: 508px;
	top: 0px;
}
#Rectangle_56_bx {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56_bx {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 45px;
	left: 866px;
	top: 0px;
}
#Group_16 {
	position: absolute;
	width: 1121px;
	height: 45px;
	left: 123px;
	top: 582px;
	overflow: visible;
}
#Rectangle_53_bz {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53_bz {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Rectangle_54_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54_b {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 254px;
	top: 0px;
}
#Rectangle_55_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55_b {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 45px;
	left: 508px;
	top: 0px;
}
#Rectangle_56_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56_b {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 45px;
	left: 866px;
	top: 0px;
}
#Group_17 {
	position: absolute;
	width: 1121px;
	height: 45px;
	left: 123px;
	top: 627px;
	overflow: visible;
}
#Rectangle_53_b {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53_b {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 0px;
	top: 0px;
}
#Rectangle_54_ca {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54_ca {
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 45px;
	left: 254px;
	top: 0px;
}
#Rectangle_55_ca {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55_ca {
	position: absolute;
	overflow: visible;
	width: 358px;
	height: 45px;
	left: 508px;
	top: 0px;
}
#Rectangle_56_ca {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56_ca {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 45px;
	left: 866px;
	top: 0px;
}
#Name {
	left: 206px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(36,153,204,1);
}
#NIC {
	left: 473px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(36,153,204,1);
}
#Address {
	left: 748px;
	top: 177px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(36,153,204,1);
}
#Mobile {
	left: 1076px;
	top: 181px;
	position: absolute;
	overflow: visible;
	width: 87px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(36,153,204,1);
}
#Group_19 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 1155px;
	top: 49px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Doctor.html;
	cursor: pointer;
}
#Component_2__16 {
	position: absolute;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_2 {
	fill: rgba(120,201,237,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 58px;
	left: 0px;
	top: 0px;
}
#Back {
	left: 63px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 53px;
	white-space: nowrap;
	text-align: left;
	font-family: Swis721 BlkCn BT;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}